<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the client_init() hook (in hooks/client.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="client-nom_du_client-<%%VALUE(id_client)%%>" class="client-nom_du_client"><%%SELECT%%><%%VALUE(nom_du_client)%%><%%ENDSELECT%%></td>
		<td id="client-nom_du_contact-<%%VALUE(id_client)%%>" class="client-nom_du_contact"><%%SELECT%%><%%VALUE(nom_du_contact)%%><%%ENDSELECT%%></td>
		<td id="client-titre_du_contact-<%%VALUE(id_client)%%>" class="client-titre_du_contact"><%%SELECT%%><%%VALUE(titre_du_contact)%%><%%ENDSELECT%%></td>
		<td id="client-adresse_postale-<%%VALUE(id_client)%%>" class="client-adresse_postale"><%%SELECT%%><%%VALUE(adresse_postale)%%><%%ENDSELECT%%></td>
		<td id="client-ville-<%%VALUE(id_client)%%>" class="client-ville"><%%SELECT%%><%%VALUE(ville)%%><%%ENDSELECT%%></td>
		<td id="client-code_postal-<%%VALUE(id_client)%%>" class="client-code_postal"><%%SELECT%%><%%VALUE(code_postal)%%><%%ENDSELECT%%></td>
		<td id="client-adresse_gm-<%%VALUE(id_client)%%>" class="client-adresse_gm"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(adresse_gm)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></td>
		<td id="client-pays-<%%VALUE(id_client)%%>" class="client-pays"><%%SELECT%%><%%VALUE(pays)%%><%%ENDSELECT%%></td>
		<td id="client-telephone_contact-<%%VALUE(id_client)%%>" class="client-telephone_contact"><%%SELECT%%><%%VALUE(telephone_contact)%%><%%ENDSELECT%%></td>
		<td id="client-email-<%%VALUE(id_client)%%>" class="client-email"><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></td>
