		<td colspan="5" class="row">
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="consultant-Matricule-caption field-caption-tv">Matricule</dt>
					<dd id="consultant-Matricule-<%%VALUE(id_consultant)%%>" class="consultant-Matricule"><%%VALUE(Matricule)%%></dd>

					<dt class="consultant-Prenom-caption field-caption-tv">Prenom</dt>
					<dd id="consultant-Prenom-<%%VALUE(id_consultant)%%>" class="consultant-Prenom"><%%VALUE(Prenom)%%></dd>

					<dt class="consultant-Nom-caption field-caption-tv">Nom</dt>
					<dd id="consultant-Nom-<%%VALUE(id_consultant)%%>" class="consultant-Nom"><%%VALUE(Nom)%%></dd>

				</dl>
			</div>
			<div class="col-md-6">
				<dl class="dl-horizontal">
					<dt class="consultant-email-caption field-caption-tv">Email</dt>
					<dd id="consultant-email-<%%VALUE(id_consultant)%%>" class="consultant-email"><a href="mailto:<%%VALUE(email)%%>" title="<%%VALUE(email)%%>" class="btn btn-default"><i class="glyphicon glyphicon-envelope text-info"></i></a></dd>

					<dt class="consultant-emploi_fonctionnel-caption field-caption-tv">Emploi fonctionnel</dt>
					<dd id="consultant-emploi_fonctionnel-<%%VALUE(id_consultant)%%>" class="consultant-emploi_fonctionnel"><%%VALUE(emploi_fonctionnel)%%></dd>

				</dl>
			</div>
		</td>
