<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nom du consultant</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="du_consultant<%%RND1%%>"><%%COMBOTEXT(du_consultant)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Titre du cv</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(Titre_du_cv)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Creer par</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(creer_par)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cv au format HRC</label>
			<div class="col-xs-9">
				<div class="form-control-static"><a id="cv_hrc-link" href="link.php?t=curriculum_vitae&f=cv_hrc&i=<%%VALUE(id_cv)%%>" target="_blank"><i class="glyphicon glyphicon-file" title="<%%VALUE(cv_hrc)%%>" style="font-size: x-large;"></i></a><script>jQuery(function() { /* */ var e_cv_hrc = '<%%VALUE(cv_hrc)%%>'; if(e_cv_hrc == '' || e_cv_hrc == '&nbsp;' || e_cv_hrc == 'blank.gif') jQuery('#cv_hrc-link').hide(); });</script></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="curriculum_vitae-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=curriculum_vitae-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'curriculum_vitae',
				SelectedID: '<%%VALUE(id_cv)%%>',
				Operation: 'show-children-printable'
			},
			'curriculum_vitae-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

