<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Consultant</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="id_consultant<%%RND1%%>"><%%COMBOTEXT(id_consultant)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Site mission</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(site_mission)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Periode de la mission</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(periode)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date debut</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_debut)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Date fin</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(date_fin)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Objet de la mission</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(description_mission)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">D&#233;tail de la mission</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(description_detaille)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Client</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="client<%%RND1%%>"><%%COMBOTEXT(client)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Environnement</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(environnement)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comp&#233;tences utilis&#233;es</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="competences_utilisees<%%RND1%%>"><%%COMBOTEXT(competences_utilisees)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tags</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="tags<%%RND1%%>"><%%COMBOTEXT(tags)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
