<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the missions_init() hook (in hooks/missions.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="missions-id_consultant-<%%VALUE(id_mission)%%>" class="missions-id_consultant text-right"><%%SELECT%%><%%VALUE(id_consultant)%%><%%ENDSELECT%%></td>
		<td id="missions-date_debut-<%%VALUE(id_mission)%%>" class="missions-date_debut"><%%SELECT%%><%%VALUE(date_debut)%%><%%ENDSELECT%%></td>
		<td id="missions-date_fin-<%%VALUE(id_mission)%%>" class="missions-date_fin"><%%SELECT%%><%%VALUE(date_fin)%%><%%ENDSELECT%%></td>
		<td id="missions-description_mission-<%%VALUE(id_mission)%%>" class="missions-description_mission"><%%SELECT%%><%%VALUE(description_mission)%%><%%ENDSELECT%%></td>
		<td id="missions-description_detaille-<%%VALUE(id_mission)%%>" class="missions-description_detaille"><%%SELECT%%><%%VALUE(description_detaille)%%><%%ENDSELECT%%></td>
		<td id="missions-client-<%%VALUE(id_mission)%%>" class="missions-client"><%%SELECT%%><%%VALUE(client)%%><%%ENDSELECT%%></td>
