<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the niveaux_ref_init() hook (in hooks/niveaux_ref.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="niveaux_ref-titre-<%%VALUE(id_niveau)%%>" class="niveaux_ref-titre"><%%VALUE(titre)%%></td>
		<td id="niveaux_ref-niveau-<%%VALUE(id_niveau)%%>" class="niveaux_ref-niveau"><%%VALUE(niveau)%%></td>
		<td id="niveaux_ref-description-<%%VALUE(id_niveau)%%>" class="niveaux_ref-description"><%%VALUE(description)%%></td>
